<!DOCTYPE html>
<html data-ng-app="tarsagoApp">
<head>
	<meta charset="UTF-8">
	<title>Nyereményjáték</title>
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css">
	<!-- <link rel="stylesheet" href="css/style.css"> -->
</head>
<body>
	<div class="wrapper container">
		<header>
			<div class="logo">
				<p class="id">RD669<span>/</span><span>S</span><span>1</span><span>0</span></p>
				<p>Regisztrációs szám</p>
			</div>
			
			<div class="mainhero">
				<p class="toptag">Névre szóló értesítés</p>
				<p class="tag">sikertermékek</p>
				<p class="bottomtag">Megbecsült ügyfeleknek</p>
			</div>

			<div class="userfield">
				<p>A REGISZTRÁCIÓRA JOGOSULT:</p>
				<p class="user">Árvíztűrő Tükörfúrógép</p>
			</div>
		</header>

			<p>Éljen minden nyerési esélyével! Válasszon egészségügyi katalógusunk termékei közül, és tegye könnyebbé a felkészülést a télre!</p>
			<p>A rendeléshez kattintson: 1. a <span>megnézem</span> gombra 2. a <span>megrendelem</span> gombra 3. az <span>IGEN</span> gombra</p>
		<div class="productgrid row" data-ng-controller="termekController">

			<div class="product col-xs-4" data-ng-repeat="product in products">
				<img data-ng-src="{{ product.img }}">
				<p class="title">#{{ $index }}, {{ product.title }}</p>
				<p class="price">{{ product.price }}</p>
				<button>{{ button_str }}</button>
				<div class="missing-badge" data-ng-if="product.missing">missing</div>
			</div>
			
		</div>
			<!-- <div class="product">Aktiválja esélyét a 300 000 Ft-os Bónusz-díjra!</div> -->
			<!-- <div class="product">Válasszon terméket!</div> -->
			<!-- <div class="product">3 termék megrendelésekor NINCS csomagolási és postaköltség!</div> -->
		<div class="address">
			<p>Kérjük, ellenőrizze adatait, mert ezen a címen értesítjük, ha Ön nyer!</p>
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<p>Csomagolási és postaköltség: 1490 Ft</p>
			<button>adatmódosítás</button>
		</div>

		<div class="order">
			<p>Az Ön rendelése:</p>
			<p>Kiválasztott termé(ke)k ára:<input type="text" name="firstname"></p>
			<p>Csomagolási és postaköltség:<input type="text" name="firstname"></p>
			<p>Az Ön rendelése:<input type="text" name="firstname"></p>
		</div>

		<div class="yesbox">
			<button>Igen</button>
			<p>Megrendelem a fent kiválasztott termék(ek)et, és benevezek a 21 000 000 Ft-os Fődíj (+5 000 000 Ft-os Fődíj Extra), továbbá 7 napon belüli regisztrációval a 3 300 000 Ft-os Expressz-díj (Kia Rio vagy készpénz) sorsolására.2 vagy több termék 3 napon belüli megrendelése esetén részt veszek a 300 000 Ft-os Bónusz-díj  (banki értékpapír) sorsolásán is.</p>
		</div>
		<div class="nobox">
			<button>Nem</button>
			<p>Köszönöm, nem kívánok rendelni a katalógusból, de szeretnék regisztrálni a nyereményjátékra és az Expressz-díj sorsolására, amelyen 7 napon belüli regisztráció esetén vehetek részt.Tisztában vagyok vele, hogy döntésemmel nemcsak a nagyszerű termékekről, hanem a 300 000 Ft-os Bónusz-díj megnyerésének esélyéről is lemondok.</p>
		</div>

	</div>
<!-- 	<footer>
		<ul>
			<li>Hivatalos szabályzat</li>
			<li>Adatvédelem</li>
			<li>Vásárlói tájékoztató</li>
			<li>Nyereménylista</li>
		</ul>
	</footer> -->
	<script src="lib/jquery/dist/jquery.min.js"></script>
	<script src="lib/angular/angular.min.js"></script>
	<script src="js/main.js"></script>
</body>

</html>