<header>
    <div class="logo">
        <p class="id">RD669<span>/</span><span>S</span><span>1</span><span>0</span></p>
        <p>Regisztrációs szám</p>
    </div>

    <div class="mainhero">
        <p class="toptag">Névre szóló értesítés</p>
        <p class="tag">sikertermékek</p>
        <p class="bottomtag">Megbecsült ügyfeleknek</p>
    </div>

    <div class="userfield">
        <p>A REGISZTRÁCIÓRA JOGOSULT:</p>
        <p class="user">Árvíztűrő Tükörfúrógép</p>
    </div>
    
    <p>Éljen minden nyerési esélyével! Válasszon egészségügyi katalógusunk termékei közül, és tegye könnyebbé a felkészülést a télre!</p>
			<p>A rendeléshez kattintson: 1. a <span>megnézem</span> gombra 2. a <span>megrendelem</span> gombra 3. az <span>IGEN</span> gombra</p>
    
</header>