<div class="yesbox">
    <button>Igen</button>
    <p>Megrendelem a fent kiválasztott termék(ek)et, és benevezek a 21 000 000 Ft-os Fődíj (+5 000 000 Ft-os Fődíj Extra), továbbá 7 napon belüli regisztrációval a 3 300 000 Ft-os Expressz-díj (Kia Rio vagy készpénz) sorsolására.2 vagy több termék 3 napon belüli megrendelése esetén részt veszek a 300 000 Ft-os Bónusz-díj  (banki értékpapír) sorsolásán is.</p>
</div>
<div class="nobox">
    <button>Nem</button>
    <p>Köszönöm, nem kívánok rendelni a katalógusból, de szeretnék regisztrálni a nyereményjátékra és az Expressz-díj sorsolására, amelyen 7 napon belüli regisztráció esetén vehetek részt.Tisztában vagyok vele, hogy döntésemmel nemcsak a nagyszerű termékekről, hanem a 300 000 Ft-os Bónusz-díj megnyerésének esélyéről is lemondok.</p>
</div>